*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body
{
	font-family: montserrat;
}
nav
{
	background : #0082e6;
	height :150px;
	width: 100%;
}

nav ul
{
	float: right;
	margin-right: 10px;
}
nav ul li{
	display :inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a
{
	color: white;
	font-size: 22px;
	padding: 10px 13px;
	border-radius: 5px;
	text-transform: uppercase;
}
a.active, a:hover
{
	background: #1b9bff;
	transition: .5s;
}
.checkbtn
{
	font-size: 50px;
	color: white;
	float: right;
	line-height: 85px;
	margin-right: 40px;
	cursor: pointer;
}
#check
{
	display: none;

}
@media (max-width: 10px){
	label.logo{
		font-size: 2px;
		padding-left:7px;

	}
	nav ul li a{
		font-size: 16px;
	}

}
@media (max-width: 800px)
{
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100%;
		background: #2c3e50;
		top:95px;
		left: -100%;
		text-align: center;
		transition: all.6s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;

	}
	a:hover, a.active{
		background: none;
		color:#0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}
}

